.hero {
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/hero.jpg");
}

.hero-title {
  text-align: center;
  color: white;
}

input {
  width: 50vw;
  border-radius: 10px;
  padding: 0.4rem;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-title > p:first-of-type {
  font-size: 1.5rem;
}

.tile {
  height: 100%;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}

.tile:hover {
  cursor: pointer;
}

.tile img {
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  transition: 0.4s all;
}

.tile img:hover {
  filter: brightness(50%);
  transform: scale(1.1);
}

.tile-text {
  position: absolute;
  z-index: 1;
  bottom: 1rem;
  color: white;
  text-align: center;
  width: 100%;
}

footer {
  background: grey;
  font-size: 1.5rem;
  padding: 10px;
  text-align: center;
}
